# Caché de Python
__pycache__/
*.pyc

# Outputs y experimentos
experimentos/
graficos/
probabilidades_campeon_2026.csv
dataset_simulador_limpio.csv
dataset_simulador_2026.csv
rankings_elo_2026.csv

# Datasets pesados
results.csv